---
import { Heart } from "lucide-react"
import FriendZoneDialog from "./FriendZoneDialog"
import { Content as GathersCopy } from "@/copy/gathers.md"
import Prose from "./Prose.astro"
---

<div class="sticky inset-x-0 bottom-0 z-30 w-full pb-6">
  <div
    class="mx-auto flex max-w-4xl flex-row items-end justify-between gap-8 px-5">
    <FriendZoneDialog client:visible>
      <Prose>
        <GathersCopy />
      </Prose>
    </FriendZoneDialog>

    <button
      data-tally-width="500"
      data-tally-layout="modal"
      data-tally-open="wM5APk"
      class="relative grid h-14 cursor-pointer place-content-center overflow-clip rounded-full bg-linear-to-b from-pink-400 to-red-600 px-6 py-4 font-[Leap] text-2xl leading-none tracking-widest text-white uppercase shadow-xl transition active:scale-95">
      <Heart
        className="animate-float-down absolute top-0 left-1 origin-center stroke-white/70 blur-[1.5px]"
      />
      <Heart
        className="animate-float-up absolute right-2 -bottom-2 origin-center stroke-white/70 blur-[1.5px]"
      />
      Date
    </button>
  </div>
</div>
