---
interface Props {
  Icon: any
  alt: string
}

const { Icon, alt } = Astro.props
---

<div
  class="flex h-fit flex-row items-center gap-2.5 rounded-full py-1 font-sans leading-tight subpixel-antialiased ring-0">
  <Icon className="stroke-1.5 h-5.5 self-start" alt={alt} />
  <slot />
</div>
