---
import { ImageMetadata } from 'astro'
import { LocalImageProps } from 'astro:assets'
import { Image } from 'astro:assets'
import { twMerge } from 'tailwind-merge'

type Props = LocalImageProps & {
  src: ImageMetadata
}

const { class: className, ...props } = Astro.props
---

<a
  href={props.src.src}
  data-pswp-width={props.src.width}
  data-pswp-height={props.src.height}
  class="block">
  <Image
    draggable="false"
    {...props}
    class={twMerge(
      'rounded-3xl transition active:scale-95 cursor-pointer duration-150',
      className
    )}
  />
</a>
