<div
  style="font-variant-ligatures: no-common-ligatures;"
  class="prose dark:prose-invert prose-h1:text-6xl prose-h2:!mb-12 prose-h2:text-2xl prose-h2:font-leap prose-h3:text-4xl prose-h4:text-2xl prose-a:text-indigo-800 prose-a:underline-offset-3 prose-headings:font-normal prose-p:leading-[1.75] prose-img:rounded-xl prose-p:text-lg font-serif">
  <slot />
</div>
