---
import PostHog from "@/components/PostHog.astro"
import "@/global.css"

import "@fontsource-variable/hedvig-letters-serif"
import "@fontsource/albert-sans"
import "@fontsource/albert-sans/900"
---

<!doctype html>
<html lang="en">
  <head>
    <title>Date Kincaid</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Date Kincaid" />
    <meta
      property="og:description"
      content="Let’s grab a drink, build a pillow fort, and plot our political power couple ascension."
    />
    <!-- 1200x630 is canonical dimensions for OG preview image -->
    <meta property="og:image" content="/og-preview.jpg" />
    <meta property="og:url" content="https://datekincaid.com" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <PostHog />
    <script is:inline async src="https://tally.so/widgets/embed.js"></script>
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>
